svg {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    padding: 8px;
    transition: all 0.5s ease-in-out;
}

svg:hover {
    color: mediumspringgreen;
    box-shadow: 1px 1px 30px mediumspringgreen;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 140px;
    min-height: 100vh;
    padding: 2rem 0;
    background-color: rgb(20,30,40);
}

.comands {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #fff;
}
