.options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 100px;
    min-height: 100vh;
    padding: 1rem 0;
    background-color: rgb(20,30,40);
}

.options .comands {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #fff;
}

.options .comands svg { 
    width: 32px;
    height: 32px;
    border-radius: 10px;
    color: rgb(106, 96, 250);
    cursor: pointer;
    padding: 8px;
    transition: all 0.5s ease-in-out;
}

.options .comands svg:hover { 
    color: mediumspringgreen;
    box-shadow: 1px 1px 30px mediumspringgreen;
}

.options .logout svg {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    color: crimson;
    cursor: pointer;
    padding: 8px;
    transition: all 0.5s ease-in-out;
}

.options .logout svg:hover { 
    box-shadow: 1px 1px 30px crimson;
}