.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container .container__title h3 {
    font-weight: 500;
    color: var(--primary);
}

.list__cards__album {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    overflow-x: auto;
    width: 100%;
    max-width: 800px;
    padding: 0 0 1rem;
}

.list__cards__album::-webkit-scrollbar {
    background-color: transparent;
    height: 12px;
}

.list__cards__album::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

